.disclaimer {
  font-size: 11px !important;
}

/* ↓ icon ↓ */
.maintenance_icon::before, .exsample li::before {
  color: #333333;
  font-family: 'Material Icons Sharp';
}

.exsample li .maintenance_icon, .exsample li::before {
  font-size: 23px;
  vertical-align: middle;
}
/* ↑ icon ↑ */

.normal_tytle {
  padding: 1rem 2rem 1rem 64px;
}

.exsample {
  box-shadow :0px 0px 3px silver;
  border: solid 1px whitesmoke;
  padding: 0.5em 1em;
  position: relative;
  background: #fafafa;
}

.exsample li {
  list-style-type: none;
}

.exsample li::before {
  content: "\e5df";
  padding-right: 10px;
}

.exsample .discover {
  margin-left: 48px;
}
.exsample .correspondence {
  margin-left: 62px;
}
.exsample .compatible {
  margin-left: 48px;
}
.exsample .maintenance {
  margin-left: 13px;
}
.exsample .not-applicable {
  margin-left: 45px;
}

.normal_tytle{
  position: relative;
}
.normal_tytle .maintenance_icon::before {
  position :absolute;
  top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
  left: 20px;
}
.discover::before {
  content: '\e002';
}
.correspondence::before {
  content: '\ea3c';
}
.compatible::before {
  content: '\e834';
}
.maintenance::before {
  content: '\e8b8';
}
.not-applicable::before {
  content: '\e153';
}
