* {
  box-sizing: border-box;
}

.FAD_SmallWord {
  font-size: 60%;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(../image/top.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 1;
  font-size: 45px;
  letter-spacing: 5px;
}

.top-wrapper p {
  opacity: 1;
  font-size: 16px;
  margin-bottom: 40px;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
  
}

.fad-mode {
  height: 580px;
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.mode {
  float: left;
  width: 33%;
}

.mode-icon {
  position: relative;
}

.mode-icon p {
  position: absolute;
  top: 37%;
  width: 100%;
  color: #ffffff;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #504c52;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.clear {
  clear: left;
}

@media all and (max-width: 1000px) {
  .mode {
    width: 50%;
    margin-bottom: 50px;
  }

  .fad-mode {
    height: 590px;
  }
}

@media all and (max-width: 750px) {
  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 768px) {
  .fad-mode {
    height: 950px;
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper .btn {
    width: 100%;
  }

  .twitter {
    margin-top: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
  }

  .top-wrapper p {
    font-size: 14px;
  }

  .mode {
    width: 100%;
  }

  .fad-mode {
    height: 1300px;
  }

  .message-wrapper .btn {
    width: 100%;
  }
}
