.logo_h1 {
  max-width: 100%;
  margin-top: 20px;
  padding: 0px 30px;
}
@media all and (min-width: 1000px) {
  .logo_h1 {
    max-width: 1000px;
  }
}

.pan {
  margin-left: 15px;
}

.container {
  width: 100%;
  padding: 0 15px 0 15px;
}

.top-wrapper {
  position: relative;
  top: -49px;
  padding: 180px 0 100px 0;
  background-image: url(../image/top.png);
  background-size: cover;
  color: white;
  text-align: center;
  background-position: center top 10%;
  z-index: 0;
}

.no {
  max-width: 1920px;
  font-size: 5vw;
  opacity: 1;
  letter-spacing: 5px;
  color: #ffffff;
}

.top-wrapper p {
  margin-bottom: 40px;
}

.explain {
  color: #ffffff;
  font-weight: bold;
}

.fad-mode {
  width: 100%;
  display: block;
  height: 490px;
  padding: 50px 5%;
  margin-top: -49px;
  background-color: #f7f7f7;
  text-align: center;
}

.mode {
  display: inline;
  float: left;
  width: calc(100% / 3);
}

.mode-icon {
  position: relative;
  transform: scale(1,1);
  transition: 0.3s all;
}
.mode-icon:hover {
  transform: scale(1.1,1.1);
  opacity: 0.7;
  transition: 0.3s all;
}

.mode-icon p {
  position: absolute;
  top: 37%;
  width: 100%;
  color: #ffffff;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 13px;
  color: #333333;
}

@media all and (max-width: 930px) {
  .fad-mode {
    height: 750px;
  }
  .mode {
    display: inline;
    float: left;
    width: calc(100% / 2);
  }
}
@media all and (max-width: 754px) {
  .fad-mode {
    height: 985px;
  }
  .mode {
    display: inline;
    width: 100%
  }
}
@media all and (max-width: 700px) {
  .fad-mode {
    height: 1005px;
  }
  .mode {
    display: inline;
    width: 100%
  }
}
@media all and (max-width: 591px) {
  .fad-mode {
    height: 1025px;
  }
  .mode {
    display: inline;
    width: 100%
  }
}
@media all and (max-width: 430px) {
  .fad-mode {
    height: 1055px;
  }
  .mode {
    display: inline;
    width: 100%
  }
}
@media all and (max-width: 394px) {
  .fad-mode {
    height: 1085px;
  }
  .mode {
    display: inline;
    width: 100%
  }
}
@media all and (max-width: 358px) {
  .fad-mode {
    height: 1105px;
  }
  .mode {
    display: inline;
    width: 100%
  }
}
@media all and (max-width: 349px) {
  .fad-mode {
    height: 1165px;
  }
  .mode {
    display: inline;
    width: 100%
  }
}
@media all and (max-width: 304px) {
  .fad-mode {
    height: 1185px;
  }
  .mode {
    display: inline;
    width: 100%
  }
}

.clear {
  clear: both;
}

.news-frame {
  width: 100%;
}

/* ↓ newsプレリリース ↓ */
.cp_box {
  position: relative;
  display: block;
  margin-top: 30px;
}
.cp {
  line-height: 2.5rem;
  position: absolute;
  z-index: 2;
  left: 50%;
  width: 16rem;
  transform: translate(-50%, 0);
  letter-spacing: 0.05em;
  color: #ffffff;
  border-radius: 20px;
  background-color: #060940;
  text-align: center;
  transition: 0.5s ease;
  margin-top: 10px;
}
.cp::after {
  font-family: "Font AweSome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f054";
  margin-left: 10px;
}
.cp:hover {
  opacity: 0.7;
  transition: 0.2s ease;
}

.news_a {
  color: #ffffff;
}
.news:hover {
  opacity: 0.7;
}

.news-tytle {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  font-size: 3rem;
  position: relative;
  padding-bottom: 1.5rem;
  text-align: center;
}

.news-tytle span {
  font-size: 1.8rem;
  display: block;
  color: #333333;
}
.news-list .item {
  display: none;
}
.news-list .item:nth-child(1), .news-list .item:nth-child(2), .news-list .item:nth-child(3) {
  display: block;
}
/* ↑ newsプレリリース ↑ */
.news_bottom_margin {
  margin-bottom: 70px;
}

.header-share {
  float: right;
  margin-right: 40px;
}