.release_margin {
  max-width: 750px;
  margin: 0 auto;
}
#day, #sender {
  text-align: right;
}
#name {
  text-align: left;
}
/* 「管」「理」「運」「営」の間の文字間隔 */
.post {
  margin-right: 16px;
}
/* 「者」の右の文字間隔 */
.post1 {
  margin-right: 32px;
}
.major {
  margin-right: 9px;
}
/* 「ホ」と「ウ」の右の文字間隔 */
.hope {
  margin-right: 29.01px;
}
/* 「地」の右の文字間隔 */
.tikyu {
  margin-right: 74px;
}
.right {
  display: block;
  text-align: right;
}
.left {
  display: block;
  text-align: left;
}
.center {
  display: block;
  text-align: center;
}
#tytle {
  text-align: center;
  color: #333333;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 150%;
}
h1::before {
  display: none;
}

h2, h3, h4, h5, h6 {
  border-left: 3px solid #000946;
  border-bottom: 1px solid #8C8C8C;
  padding-left: 10px;
  padding-bottom: 5px;
  color: #333333;
}

#pdf {
  text-align: right;
}
#pdf .btn {
  text-align: right;
  width: 150px;
  height: 35px;
  margin: 0;
  margin-top: 10px;
}
#pdf .btn, #pdf a.btn, #pdf button.btn {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}
#pdf a.btn-flat {
  overflow: hidden;
  padding: 3px;
  color: #fff;
  border-radius: 0;
  background: #000;
}

#pdf a.btn-flat span {
  position: absolute;
  width: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#pdf a.btn-flat span::before {
  content: "\f1c1";
  color: #FFFFFF;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  padding-right: 10px;
}

#pdf a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-96%);
  transform: translateX(-96%);
  background: #EC1C24;
}

#pdf a.btn-flat:hover:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}