/* ↓ テーブル ↓ */
.potion_table, .gun_table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: solid 1px #000946;
}
.potion_table tr:nth-child(2n), .gun_table tr:nth-child(n) {
  background: #ffffff;
}
.potion_table tr:nth-child(2n+1), .gun_table tr:nth-child(2n+1) {
  background: #e9faf9;
}
.potion_table th, .potion_table td, .gun_table th, .gun_table td {
  padding: 3px;
  border-bottom: solid 1px #3D4073;
  font-size: 13px;
}
.potion_table img, .gun_table img {
  margin-top: 3px;
  width: 100%;
  max-width: 50px;
  min-width:50px;
}

@media all and (min-width: 834px) {
  .potion_table th, .potion_table td, .gun_table th, .gun_table td {
  font-size: 15px;
  }
}
/* ↑ テーブル ↑ */

/* ↓ 余白 ↓ */
.menu_margin {
  margin-left: 24px;
}
/* ↑ 余白 ↑ */

.role {
  position: relative;/*相対位置*/
  padding: 0.5em 0.5em 0.5em 1.5em;/*アイコン分のスペース*/
  line-height: 1.4;/*行高*/
  color: #333333;/*文字色*/
  border-top: dotted 1px gray;
  border-bottom: dotted 1px gray;
  background: #f4f4f4;
}
.role:before {
  font-family: "Font Awesome 5 Free";/*忘れずに*/
  content: "\f138";/*アイコンのユニコード*/
  font-weight: 900;
  position: absolute;/*絶対位置*/
  font-size: 1em;/*サイズ*/
  left: 0.25em;/*アイコンの位置*/
  top: 0.5em;/*アイコンの位置*/
  color: #333333; /*アイコン色*/
}