/* ↓ テーブル ↓ */
.level_table {
    display: block;
    white-space: nowrap;
    border-spacing: 0;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    font-size: 15px;
    color: #333333;
  }
  .level_table th{
    min-width: 120px;
    border-bottom: solid 2px #fb5144;
    padding: 10px 0;
    font-size: 15px;
  }
  .level_table td{
    border-bottom: solid 2px #ddd;
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
  }

.potion_table, .gun_table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  border-top: solid 1px #060940;
}
.potion_table tr:nth-child(2n), .gun_table tr:nth-child(n) {
  background: #ffffff;
}
.potion_table tr:nth-child(2n+1), .gun_table tr:nth-child(2n+1) {
  background: #e9faf9;
}
.potion_table th, .potion_table td, .gun_table th, .gun_table td {
  padding: 3px;
  border-bottom: solid 1px #3D4073;
  font-size: 13px;
}
.potion_table img, .gun_table img {
  margin-top: 3px;
  width: 100%;
  max-width: 50px;
}

@media all and (min-width: 834px) {
  .potion_table th, .potion_table td, .gun_table th, .gun_table td {
  font-size: 15px;
  }
}
/* ↑ テーブル ↑ */

/* ↓ 余白 ↓ */
.menu_margin {
  margin-left: 24px;
}
/* ↑ 余白 ↑ */