@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@700&display=swap');
.category {
  margin-bottom: 10px;
}
.category-1 {
  display: inline-block;
}
.date_icon::before {
  content: "\f017";
  margin-right: 5px;
  font-size: 20px;
  color: #333333;
}
.date {
  display: inline-block;
  font-size: 25px;
  font-family: 'Bebas Neue', 'cursive';
  line-height: 0;
}
.sat {
  color: #333333;
}
.sat {
  color: #0378A6;
}
.sun {
  color: #BF2C2C;
}

.category-2 {
  display: inline-block;
  text-align: center;
  float: right;
}
.category_type {
  font-size: 10px;
  color: #333333;
}
.archive_icon, .movie_icon {
  font-size: 16px;
  text-align: center;
  color: #333333;
  transition: 0.3s ease;
}
.category-2:hover, .category-2:hover span, .category-2:hover i {
  cursor: pointer;
  color: #888888;
  transition: 0.3s ease;
}

.a_video ,.a_ch {
  color: #333333;
  transition: 0.3s ease;
  font-size: 14px;
}
.a_video::after {
  content: "\f35d";
  color: #333333;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 10px;
  padding: 0 3px;
}
.a_video:hover, .a_video:hover::after, .a_ch {
  color:#8C8C8C;
}
.ch_icon {
  transition: 0.3s ease;
}
.ch_icon:hover {
  opacity: 0.6;
  transition: 0.3s ease;
}

.tytle {
  overflow-wrap: break-word;
  font-size: 16px;
  font-weight: bold;
}

/* ↓ 詳細情報 ↓ */
.tag {
  display: inline-block;
  margin: 0;
  font-size: 12px;
  color: #333333;
  margin-top: 16px;
  margin-right: 10px;
}
.tag_icon::before {
  content: "\f02b";
  font-size: 12px;
  color: #333333;
  margin-right: 5px;
}
.tag:hover, .tag:hover span::before {
  cursor: pointer;
  color: #8C8C8C;
}

.person {
  display: inline-block;
  margin: 0;
  font-size: 12px;
  color: #333333;
  margin-top: 16px;
  margin-right: 10px;
}
.person_icon::before {
  content: "\f2bd";
  font-size: 12px;
  color: #333333;
  margin-right: 5px;
}
.person:hover, .person:hover span::before {
  cursor: pointer;
  color: #8C8C8C;
}

.content {
  display: flex;
  margin: 16px 0px;
  padding: 10px 0px;
  border-top: 1px solid #888888;
  border-bottom: 1px solid #888888;
}

.ex {
  display: block;
  min-width: 110px;
  max-width: 110px;
  border-right: 1px solid #888888;
  font-size: 13px;
  padding-right: 10px;
  color: #333333;
}
.concrete {
  display: block;
  margin: 0;
  color: #333333;
}
.concrete p {
  margin: 0;
  margin-left: 5px;
  font-size: 12px;
  color: #333333;
}

.video_snsicon {
  display: inline-block;
  padding: 0px 5px;
}
.video_snsicon::before {
  font-size: 20px;
}
.video_snsicon-twitter::before {
  content: "\f099";
  color: #1DA1F2;
}
.video_snsicon-twitch::before {
  content: "\f1e8";
  color: #9146FF;
}
.video_snsicon:hover::before {
  color: #8C8C8C;
}

.postch_ex {
  margin-right: 10px;
}
.postch_name {
  font-size: 16px;
  text-align: left;
  margin: 0;
}

.ch_ex {
  margin-right: 5px;
}
.name {
  text-align: left;
}
.ch_icon {
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 100%;
}
.ch_ex_setumei {
  display: block;
  margin-top: 8px;
  font-size: 10px;
}
/* ↑ 詳細情報 ↑ */

.youtube_window_video {
  position: relative;
  margin-top: 10px;
  height: 179.53px;
  transition: 0.3s ease;
}
.youtube_video {
  position: absolute;
  top: 0;
  left: 0;
}
.video_thumbnail--youtube {
  position: absolute;
  display: inline;
  width: 100%;
  height: 100%;
  background-size: 60px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../image/icon/icon_youtube_color.svg);
}
.video_thumbnail--twitch {
  position: absolute;
  display: inline;
  width: 100%;
  height: 100%;
  background-size: 40px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../image/icon/icon_twitch_color.svg);
}
.video_thumbnail--niconico {
  position: absolute;
  display: inline;
  width: 100%;
  height: 100%;
  background-size: 40px auto;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../image/icon/icon_niconico_color.svg);
}
.youtube_window_video:hover {
  filter: brightness(110%);
  opacity: 0.8;
  transition: 0.3s ease;
}

.delete {
  width: 130px;
  border: 2px solid #888888;
  border-radius: 100px;
  margin-left: auto;
  margin-right: 0;
  margin-top: 30px;
}
.delete p {
  text-align: center;
  margin: 0;
  font-size: 12px;
}

.acd-content-1{
  line-height: 1;
}
/* ↓ ソート ↓ */
.products__sort {
  display: flex;
  flex-flow: wrap;
}
/* ↓ ボタン ↓ */
.button {
  display: block;
  position: relative;
  width: 145px;
  padding: 0.8em;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border:1px solid #000946;
  background: #000946;
  overflow: hidden;
  z-index: 1 !important;
  margin: 5px;
}
.palyday {
  font-size: 14px;
}
.button:after {
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0;
  width: 100%;
  background : #BDE3F2;
  opacity: 0;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transition: 0.5s ease;
  z-index: -1;
}
.button:hover {
  cursor: pointer;
}
.button:active:after {
  height: 450%;
  opacity: 1;
}

.buttun_icon {
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 100%;
}
/* ↑ ボタン ↑ */

.products__wrap {
  display: flex;
  flex-flow: wrap;
  margin: 25px 0 0;
  justify-content: center;
}
.products__wrap .video_list {
  padding: 10px;
  width: 340px;
  border: 1px solid #333333;
  margin: 10px;
  background: #FFFFFF;
  transition: 0.5s ease;
}
.products .sort-checkbox {
  display: none;
}
/* ↑ ソート ↑ */

.img_date {
  max-width: 300px;
}
.img_tag {
  max-width: 200px;
}
.img_icon {
  max-width: 150px;
}
.img_person {
  max-width: 600px;
}
.No {
  font-size: 20px;
  font-weight: bold;
}
.setumei {
  display: block;
  margin-left: 25px;
}
.small {
  font-size: 10px;
}
.sort {
  color: #337ab7;
  font-weight: bold;
}
.video_card_ex_ex {
  counter-reset: number; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  padding:0.5em;
  border: solid 2px #000946;
}
.video_card_ex_ex li {
  position: relative;
  padding: 0.5em 0.5em 0.5em 35px;
  line-height: 1.5em;
}
.video_card_ex_ex li:before{
  /* 以下数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*数字のデザイン変える*/
  display:inline-block;
  background: #000946;
  color: white;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight:bold;
  font-size: 15px;
  border-radius: 50%;/*円にする*/
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  /*以下 上下中央寄せのため*/
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.video_card_ex_ex li:after {/*吹き出しのちょこんと出た部分*/
  content: '';
  display: block;
  position: absolute;
  left: 20px;/*左からの位置*/
  height: 0;
  width: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 12px solid #000946;
  /*以下 上下中央寄せのため*/
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.remarks {
  position: relative;
  padding-left: 40px;
  margin-bottom: 30px;
  font-weight: bold;
}
.remarks:before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f0eb";
  background: #ffca2c;
  color: white;
  font-weight: 900;
  font-size: 15px;
  border-radius: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.remarks:after {
  /*吹き出しのちょこんと出た部分*/
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  height: 0;
  width: 0;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 12px solid #ffca2c;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.video-flame {
  width: 840px;
  margin: auto;
}
@media all and (max-width: 1535px) {
  .video-flame {
    width: 724px;
    margin: auto;
  }
}
@media all and (max-width: 1160px) {
  .video-flame {
    width: 327px;
    margin: auto;
  }
  .youtube_video {
    position: absolute;
    max-width: 288px;
    min-width: 288px;
    max-height: 162px;
    min-height: 162px;
    transition: 0.3s ease;
  }
  .youtube_window_video {
    max-width: 288px;
    min-width: 288px;
    max-height: 162px;
    min-height: 162px;
    position: relative;
    margin-top: 10px;
  }
  .video_list {
    display: inline-block;
    padding: 10px;
    width: 310px;
    border: 1px solid #333333;
    margin: 10px;
  }
}