  .products .sort-checkbox[id="play-2021-5-1"]:checked ~ .video-flame .products__wrap .play-2021-5-1 {
    order: -1;
    background-color: #BDE3F2;
    transition: 0.5s ease;
  }
  .products .sort-checkbox[id="play-2021-5-1"]:checked ~ .products__sort .button[for="play-2021-5-1"] {
    background-color: #BDE3F2;
    color: #333333;
  }
  
  .products .sort-checkbox[id="play-2020-12-12-2"]:checked ~ .video-flame .products__wrap .play-2020-12-12-2 {
    order: -1;
    background-color: #BDE3F2;
    transition: 0.5s ease;
  }
  .products .sort-checkbox[id="play-2020-12-12-2"]:checked ~ .products__sort .button[for="play-2020-12-12-2"] {
    background-color: #BDE3F2;
    color: #333333;
  }
  
  .products .sort-checkbox[id="play-2020-12-12-1"]:checked ~ .video-flame .products__wrap .play-2020-12-12-1 {
    order: -1;
    background-color: #BDE3F2;
    transition: 0.5s ease;
  }
  .products .sort-checkbox[id="play-2020-12-12-1"]:checked ~ .products__sort .button[for="play-2020-12-12-1"] {
    background-color: #BDE3F2;
    color: #333333;
  }
  
  .products .sort-checkbox[id="play-2020-12-12"]:checked ~ .video-flame .products__wrap .play-2020-12-12 {
    order: -1;
    background-color: #BDE3F2;
    transition: 0.5s ease;
  }
  .products .sort-checkbox[id="play-2020-12-12"]:checked ~ .products__sort .button[for="play-2020-12-12"] {
    background-color: #BDE3F2;
    color: #333333;
  }
  
  .products .sort-checkbox[id="play-2020-12-11"]:checked ~ .video-flame .products__wrap .play-2020-12-11 {
    order: -1;
    background-color: #BDE3F2;
    transition: 0.5s ease;
  }
  .products .sort-checkbox[id="play-2020-12-11"]:checked ~ .products__sort .button[for="play-2020-12-11"] {
    background-color: #BDE3F2;
    color: #333333;
  }

  /* ↓ 区分 ↓ */
  
  .products .sort-checkbox[id="play-movie"]:checked ~ .video-flame .products__wrap .play-movie {
    order: -1;
    background-color: #BDE3F2;
    transition: 0.5s ease;
  }
  .products .sort-checkbox[id="play-movie"]:checked ~ .products__sort .button[for="play-movie"] {
    background-color: #BDE3F2;
    color: #333333;
  }
  
  .products .sort-checkbox[id="play-archive"]:checked ~ .video-flame .products__wrap .play-archive {
    order: -1;
    background-color: #BDE3F2;
    transition: 0.5s ease;
  }
  .products .sort-checkbox[id="play-archive"]:checked ~ .products__sort .button[for="play-archive"] {
    background-color: #BDE3F2;
    color: #333333;
  }

  /* ↓ 参加者 ↓ */

  .products .sort-checkbox[id="major-exe"]:checked ~ .video-flame .products__wrap .major-exe {
    order: -1;
    background-color: #BDE3F2;
    transition: 0.5s ease;
  }
  .products .sort-checkbox[id="major-exe"]:checked ~ .acd-content .products__sort .button[for="major-exe"] {
    background-color: #BDE3F2;
    color: #333333;
  }

  .products .sort-checkbox[id="hope"]:checked ~ .video-flame .products__wrap .hope {
    order: -1;
    background-color: #BDE3F2;
    transition: 0.5s ease;
  }
  .products .sort-checkbox[id="hope"]:checked ~ .acd-content .products__sort .button[for="hope"] {
    background-color: #BDE3F2;
    color: #333333;
  }

  .products .sort-checkbox[id="huwapen"]:checked ~ .video-flame .products__wrap .huwapen {
    order: -1;
    background-color: #BDE3F2;
    transition: 0.5s ease;
  }
  .products .sort-checkbox[id="huwapen"]:checked ~ .acd-content .products__sort .button[for="huwapen"] {
    background-color: #BDE3F2;
    color: #333333;
  }

  .products .sort-checkbox[id="maru190"]:checked ~ .video-flame .products__wrap .maru190 {
    order: -1;
    background-color: #BDE3F2;
    transition: 0.5s ease;
  }
  .products .sort-checkbox[id="maru190"]:checked ~ .acd-content .products__sort .button[for="maru190"] {
    background-color: #BDE3F2;
    color: #333333;
  }