* {
  box-sizing: border-box;
}

h1 {
  position: relative;
  padding-top: 80px;
  text-align: center;
}

h1:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: '';
  border-radius: 3px;
  background: #060940;
}

.h2_QA {
  margin-top: 100px;
}
.headline2_QA {
  position: relative;
  padding-top: 1.5rem;
  text-align: center;
  border: 2px solid #000;
  background: #fff;
  width: 30%;
  margin: 0 auto;
}

.headline2_QA:before,
.headline2_QA:after {
  position: absolute;
  content: '';
}

.headline2_QA:before {
  top: -50px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #fff;
}

.headline2_QA:after {
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: #fff;
}

.headline2_QA i {
  font-size: 30px;
  font-size: 3rem;
  line-height: 60px;
  position: absolute;
  z-index: 1;
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 60px;
  text-align: center;
}

.headline2_QA span {
  position: relative;
  z-index: 1;
}

.form {
  margin-top: 60px;
  text-align: center;
}

.QA:hover {
  color: #000000;

}
.QA {
  color: #8C8C8C;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}
.message-wrapper {
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0px 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}