* {
  box-sizing: border-box;
}

.h2_QA {
  margin-top: 100px;
  color: #000000;
}
/* Q&Aスタイル */
.QaA {
  margin-left: 2%;
  margin-top: 50px;
}

.QaA p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.faq__dt, .faq__dd {
  position: relative;
  padding-left: 24px;
  margin-bottom: 25px; /* 各Q&Aの下に余白 */
}

.faq__dt::before, .faq__dd::before {
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
}

.faq__dt {
  font-weight: bold; /* 質問文は太字にしてみました */
  border-bottom: 1px solid #999;
  margin-bottom: 4px; /* 下にちょい余白 */
}

.faq__dt::before {
  content: 'Q.';
  color: #0085C8; /* 「Q」の文字色 */
}

.faq__dd::before {
  content: 'A.';
  color: #c80021; /* 「A」の文字色 */
}
/* ここまで */

/* h2設定 */
.h2_QA {
  margin-top: 100px;
}
.headline2_QA {
  position: relative;
  padding-top: 1.5rem;
  text-align: center;
  border: 2px solid #000;
  background: #fff;
  width: 90%;
  margin: 0 auto;
}

.headline2_QA:before,
.headline2_QA:after {
  position: absolute;
  content: '';
}

.headline2_QA:before {
  top: -50px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #fff;
}

.headline2_QA:after {
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: #fff;
}

.headline2_QA i {
  font-size: 30px;
  font-size: 3rem;
  line-height: 60px;
  position: absolute;
  z-index: 1;
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 60px;
  text-align: center;
}

.headline2_QA span {
  position: relative;
  z-index: 1;
}
.QA:hover {
  color: #000000;

}
.QA {
  color: #8C8C8C;
}
/* ここまで */

/* SNSラベル */
.btn-social-flat { 
  color: #484848;
  display: inline-block;
  height: 25px;
  font-size: 15px;
  line-height: 25px;
  background: #eaeef1;
  text-decoration: none;
  margin: 5px;
}

.btn-social-flat-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  color: white;
}
.btn-social-flat-icon i {
  font-size: 15px;
  line-height: 25px;
  transition: .3s;
}
.btn-social-flat-text {
  display: inline-block;
  width: 200px;
  text-align: center;
}

.btn-social-flat-icon--twitter {
  background:#1da1f3;
}
.btn-social-flat-icon--facebook {
  background:#3b75d4;
}
.btn-social-flat-icon--youtube {
  background:#cd201f;
}
.btn-social-flat-icon--line {
  background:#00C300;
}
.btn-social-flat-icon--twitch {
  background: #9146FF;
}
.btn-social-flat-text::after {
  content: "　\f35d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline;
  font-size: 10px;
}
/* SNSラベル */
