.h2_QA {
  margin-top: 100px;
  color: #333333;
}
.btn-social-flat-text {
  color: #333333;
}
.btn-social-flat-text:hover {
  color: #8C8C8C;
}

/* Q&Aスタイル */
.QaA p {
  line-height: 2;
  color: #333333;
  margin: 0;
}

.faq__dt {
  position: relative;
  padding-left: 24px;
  color: #333333;
}
.faq__dd {
  position: relative;
  padding-left: 24px;
  margin-bottom: 25px; /* 各Q&Aの下に余白 */
  color: #333333;
  margin-left: 24px;
}

.faq__dt::before, .faq__dd::before {
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
  color: #333333;
}

.faq__dt p {
  font-weight: bold; /* 質問文は太字にしてみました */
  border-bottom: 1px solid #999;
  margin-bottom: 4px; /* 下にちょい余白 */
}

.faq__dt::before {
  content: 'Q.';
  color: #0085C8; /* 「Q」の文字色 */
  margin-top: 4px;
}

.faq__dd::before {
  content: 'A.';
  color: #c80021; /* 「A」の文字色 */
  margin-top: 4px;
}
/* ここまで */

/* h2設定 */
.h2_QA {
  margin-top: 100px;
}
.headline2_QA {
  position: relative;
  padding-top: 1.5rem;
  text-align: center;
  border: 2px solid #000;
  background: #fff;
  width: 90%;
  margin: 0 auto;
}

.headline2_QA:before,
.headline2_QA:after {
  position: absolute;
  content: '';
}

.headline2_QA:before {
  top: -50px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border: 2px solid #000;
  border-radius: 50%;
  background: #fff;
}

.headline2_QA:after {
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background: #fff;
}

.headline2_QA i {
  font-size: 30px;
  font-size: 3rem;
  line-height: 60px;
  position: absolute;
  z-index: 1;
  top: -40px;
  left: calc(50% - 40px);
  width: 80px;
  height: 60px;
  text-align: center;
}

.headline2_QA span {
  position: relative;
  z-index: 1;
  color: #333333;
}
/* ここまで */

.QaA_img {
  width: 98%;
  display: block;
  margin: auto;
  border: 2px solid #8C8C8C;
}
.QaA_img2 {
  height: 350px;
  display: block;
  margin: auto;
  border: 2px solid #8C8C8C;
}
@media all and (min-width: 1200px) {
  .QaA_img {
    width: 73%;
    display: block;
    margin: auto;
    border: 2px solid #8C8C8C;
  }
  .QaA_img2 {
    height: 500px;
    display: block;
    margin: auto;
    border: 2px solid #8C8C8C;
  }
}

.normal_margin ol {
  line-height: 2.0;
  margin: 0;
  padding: 0;
  padding-left: 5px;
}

/* SNSラベル */
.btn-social-flat { 
  color: #484848;
  display: inline-block;
  height: 25px;
  font-size: 15px;
  line-height: 25px;
  background: #eaeef1;
  text-decoration: none;
  margin: 5px;
}

.btn-social-flat-icon, .btn-social-flat-icon2 {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  color: white;
}
.btn-social-flat-icon::before {
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline;
  font-size: 15px;
}
.btn-social-flat-text {
  display: inline-block;
  width: 200px;
  text-align: center;
}

.btn-social-flat-icon--twitter {
  background:#1da1f3;
}
.btn-social-flat-icon--youtube {
  background:#cd201f;
}
.btn-social-flat-icon--line {
  background:#00C300;
}
.btn-social-flat-icon--twitch {
  background: #9146FF;
}
.btn-social-flat-icon--SeesaaWiki {
  background: #61C6F6;
}
.btn-social-flat-icon--JapanMinecraftServer {
  background: #F1F1F1;
}

.btn-social-flat-icon--twitter::before {
  content: "\f099";
}
.btn-social-flat-icon--youtube::before {
  content: "\f167"
}
.btn-social-flat-icon--line::before {
  content: "\f3c0";
}
.btn-social-flat-icon--twitch::before {
  content: "\f1e8";
}
.btn-social-flat-icon--SeesaaWiki::before {
  content: "★";
  font-size: 15px;
  color: #FEFC56;
}
.btn-social-flat-icon--JapanMinecraftServer::before {
  content: "　";
  font-size: 15px;
  background: center;
  background-repeat:  no-repeat;
  background-size:contain;
  background-image: url("../../image/JapanMinecraftServer.png");
}

.ol {
  margin: 7px 0 0 24px;
}
.ol ol, .supplement {
  font-size: 13px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.btn-social-flat-text::after {
  content: "　\f35d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline;
  font-size: 10px;
}


/* ↓ テーブル ↓ */
.version_table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  font-size: 15px;
  color: #333333;
}
.version_table th{
  min-width: 200px;
  border-bottom: solid 2px #c80021;
  padding: 10px 0;
  font-size: 15px;
  text-align: left;
}
.version_table td{
  border-bottom: solid 2px #ddd;
  padding: 10px 0;
  font-size: 15px;
  text-align: left;
}


/* SNSラベル */
.icon::before {
  color: #333333;
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  margin-right: 10px;
  padding-left: 3px;
}
.Google-Chrome::before {
  content: "\f268";
}
.Mozilla-Firefox::before {
  content: "\e007";
}
.safari::before {
  content: "\f267";
}
.Opera::before {
  content: "\f26a";
}
.Microsoft-Edge::before {
  content: "\f282";
}
.Internet-Explorer::before {
  content: "\f26b";
}
