.operation_img_div {
  text-align: center;
}

.operation_img {
  height: 200px;
}
.operation_img2 {
  margin-left: 10%;
}

h3 {
  border-left: 3px solid #060940;
  border-bottom: 1px solid #8C8C8C;
  padding-left: 10px;
  padding-bottom: 5px;
  color: #333333;
}

/* SNSラベル */
.btn-social-flat {
  color: #484848;
  display: inline-block;
  height: 25px;
  font-size: 15px;
  line-height: 25px;
  background: #eaeef1;
  text-decoration: none;
  margin: 5px;
  border-radius: 5px;
}

.btn-social-flat-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  color: white;
  font-size: 15px;
  border-radius: 3px;
}

.btn-social-flat-text {
  display: inline-block;
  width: 230px;
  text-align: center;
}
.btn-social-flat:hover {
  color: #8C8C8C;
}
.btn-social-flat-text-want {
  display: inline-block;
  width: 290px;
  text-align: center;
}

.btn-social-flat-icon--twitter {
  background:#1da1f3;
}
.btn-social-flat-icon--youtube {
  background:#cd201f;
}
.btn-social-flat-icon--line {
  background:#00C300;
}
.btn-social-flat-icon--twitch {
  background: #9146FF;
}
.btn-social-flat-icon--want {
  background: #00448C;
}
.btn-social-flat-icon--discord {
  background: #5865F2;
}
.btn-social-flat-icon--amazon {
  background: #FF9900;
}
.btn-social-flat-icon--twitter::before {
  content: "\f099";
}
.btn-social-flat-icon--youtube::before {
  content: "\f167";
}
.btn-social-flat-icon--line::before {
  content: "\f3c0";
}
.btn-social-flat-icon--twitch::before {
  content: "\f1e8";
}
.btn-social-flat-icon--discord::before {
  content: "\f392";
}
.btn-social-flat-icon--amazon::before {
  content: "\f270";
}

.btn-social-flat-text::after {
  content: "\f35d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline;
  font-size: 10px;
  padding-left: 10px;
}
/* SNSラベル */