* {
  box-sizing: border-box;
}

.operation {
  margin-top: 60px;
  margin-left: 2%;
  margin-right: 2%;
}
.operation p {
  line-height: 2;
  font-size: 15px;
  color: #333333;
  display: inline;
}
.operation_tytle {
  padding: 1rem 2rem;
  border-left: 5px solid #000000;
  background: #f4f4f4;
  color: #333333;
}

.operation_img_div {
  text-align: center;
}

.operation_img {
  width: 100px;
}

/* SNSラベル */
.btn-social-flat { 
  color: #484848;
  display: inline-block;
  height: 25px;
  font-size: 15px;
  line-height: 25px;
  background: #eaeef1;
  text-decoration: none;
  margin: 5px;
}

.btn-social-flat-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  color: white;
}
.btn-social-flat-icon i {
  font-size: 15px;
  line-height: 25px;
  transition: .3s;
} 
.btn-social-flat-text {
  display: inline-block;
  width: 200px;
  text-align: center;
}
.btn-social-flat-text-want {
  display: inline-block;
  width: 290px;
  text-align: center;
}

.btn-social-flat-icon--twitter {
  background:#1da1f3;
}
.btn-social-flat-icon--facebook {
  background:#3b75d4;
}
.btn-social-flat-icon--youtube {
  background:#cd201f;
}
.btn-social-flat-icon--line {
  background:#00C300;
}
.btn-social-flat-icon--twitch {
  background: #9146FF;
}
.btn-social-flat-icon--want {
  background: #00448C;
}
.btn-social-flat-text::after, .btn-social-flat-text-want::after {
  content: "　\f35d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline;
  font-size: 10px;
}
/* SNSラベル */

.torikesi {
  display: inline;
  text-decoration: line-through;
}