.operations p {
  line-height: 2;
  font-size: 15px;
  color: #333333;
}

.operations_blank {
  margin-top: 30px;
}

.operations_btn2{
  display: inline;
}

.operations-wrapper {
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.operations_message {
  padding: 15px 40px;
  background-color: #595959;
  cursor: pointer;
  box-shadow: 0px 7px #0D0D0D;
  font-size: 20px;
}

.operations_message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}
.operations_btn {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  width: 250px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.operations_btn:hover {
  opacity: 1;
}

.operations_blank br{
  margin-bottom: 20px;
}

.role {
  font-size: 14px;
}