.sitemap_tytle {
  border-left: 3px solid #3D4073;
  border-bottom: 1px solid #8C8C8C;
  color: #333333;
  width: 100%;
  margin: 0;
  padding-left: 10px;
}
.section {
  width: 100%;
  margin: 10px 0 10px 0;
}
/* ↓ モーダル ↓ */
/* ボタン（デザインはお好みで） */
.my_modal_btn{
  display: block;
  width: 152px;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  background-color: #FF9900;
  color: #FFFFFF;
  cursor: pointer;
}
.my_modal_btn:hover {
  text-decoration: underline;
}

/* チェックボックスを非表示 */
#my_modal1{
  display: none;
}
/* モーダル */
.my_modal_body1{
  display: none;
  position: fixed;
  z-index: 100000;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  display: none;
  background-color: #FFF;
  overflow-y: auto;
  /* スマホ用スクロール */
  -webkit-overflow-scrolling: touch;
  /* お好みで */
  width: 100%;
  max-width: calc(100% - 5%);
  height: 100%;
  max-height: calc(100% - 20%);
}
@media all and (min-width: 768px) {
  .my_modal_body1 {
    max-height: calc(100% - 50%);
  }
}

/* モーダル内ヘッダー */
.my_modal_header{
  padding: 15px 10px;
  background-color: #FF9900;
  color: #FFF;
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: center;
}
.my_modal_header p {
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

/* クローズアイコン */
.my_modal_close{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  cursor: pointer;
}
.my_modal_close_icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
}
.my_modal_close_icon span::before,
.my_modal_close_icon span::after{
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 84%;
  height: 16%;
  margin: -8% 0 0 -42%;
  background: #FFF;
}
.my_modal_close_icon span::before{
  transform: rotate(-45deg);
}
.my_modal_close_icon span::after{
  transform: rotate(45deg);
}

/* コンテンツ表示 */
.my_modal_content{
  padding: 5px 10px;
}
.my_modal_content ol {
  padding-left: 20px;
}

/* 背景を暗くする */
.my_modal_overlay{
  display: none;
  position: fixed;
  z-index: 1000;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-color: #111;
  opacity: 0.3;
  cursor: pointer;
}

/* チェック時オーバーレイとコンテンツを表示 */
#my_modal1:checked ~ .my_modal_body1, #my_modal1:checked ~ .my_modal_overlay{
  display: block;
}
/* ↑ モーダル ↑ */

.sns-icon::before {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 5px 0;
  margin-right: 10px;
  border-radius: 50%;
  font-size: 15px;

  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
}
.sns-icon-2 {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 5px 0;
  margin-right: 10px;
  border-radius: 100%;
  font-size: 15px;
  background: #F1F1F1;
}
.sitemap__twitter::before {
  background:#1da1f3;
}
.sitemap__youtube::before {
  background:#cd201f;
}
.sitemap__line::before {
  background:#00C300;
}
.sitemap__twitch::before {
  background: #9146FF;
}
.sitemap__discord::before {
  background: #5865F2;
}
.sitemap__wiki::before {
  background: #61C6F6;
}
.sitemap__amazon::before {
  background: #FF9900;
}
.sitemap__twitter::before {
  content: "\f099";
}
.sitemap__youtube::before {
  content: "\f167"
}
.sitemap__line::before {
  content: "\f3c0";
}
.sitemap__twitch::before {
  content: "\f1e8";
}
.sitemap__discord::before {
  content: "\f392";
}
.sitemap__amazon::before {
  content: "\f270";
}
.sitemap__wiki::before {
  content: "★";
  color: #FEFC56;
}
.sitemap__jms::before {
  content: "　";
  background: center;
  background-repeat:  no-repeat;
  background-size:contain;
  background-image: url("../../image/JapanMinecraftServer.png");
}
.sitemap__minecraft::before {
  content: "　";
  background: center;
  background-repeat:  no-repeat;
  background-size:contain;
  background-image: url("../../image/minecraft.png");
}

@media all and (min-width: 768px) {
  .section {
    width: calc(50% - 10px);
    flex-wrap: nowrap;
  }
  .right {
    float: right;
    margin-left: 5px;
  }
  .left {
    float: left;
    margin-right: 5px;
  }
  .clear {
    clear: both;
  }
}