* {
  box-sizing: border-box;
}

.sitemap {
  margin-top: 60px;
  margin-left: 2%;
  margin-right: 2%;
}
.sitemap p {
  line-height: 2;
  font-size: 15px;
  color: #333333;
  overflow-wrap: break-word;
}
.about_tytle {
  padding: 1rem 2rem;
  border-left: 5px solid #000000;
  background: #f4f4f4;
  color: #333333;
}
.sitemap a {
  color: #333333;
}
.sitemap a:hover {
  color: #8C8C8C;
}