.browser {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.browser th,.browser td{
  border: solid 1px var(--color-text);
  padding: 10px;
  white-space: nowrap;
}

.browser tr:nth-child(odd){
  padding: 10px;
  background: rgba(53, 53, 53, 0.1);
  white-space: nowrap;
}

.icon::before {
  color: var(--color-text);
  font-size: 18px;
  margin-right: 10px;
}
.Google-Chrome::before {
  content: "\f268";
}
.Mozilla-Firefox::before {
  content: "\e007";
}
.safari::before {
  content: "\f267";
}
.Opera::before {
  content: "\f26a";
}
.Microsoft-Edge::before {
  content: "\f282";
}
