table {
  width: 100%;
  border-collapse: collapse;
}

table th,td {
  padding: 10px 15px;
  border: 1px solid #ddd;
  font-size: 15px;
  color: #333333;
  line-height: 2;
}

table th {
  background: #f4f4f4;
  width: auto;
  text-align: left;
}

@media all and (max-width: 768px) {
  table th,td {
    width: auto;
    display: block;
    border-top: none;
  }
  table tr:first-child {
    border-top: 1px solid #ddd;
  }
}
