* {
  box-sizing: border-box;
}

.resourcepack {
  margin-top: 60px;
  margin-left: 2%;
  margin-right: 2%;
}
.resourcepack p {
  line-height: 2;
  font-size: 14px;
}
.resourcepack_tytle {
  padding: 1rem 2rem;
  border-left: 5px solid #000;
  background: #f4f4f4;
}
.resourcepack_a {
  color: #000000;
}
.resourcepack_a:hover {
  color: #8C8C8C;
}
.resourcepack_tytle_3 {
  padding: 1rem 2rem;
  margin-left: 20px;
  border-left: 4px solid #000;
}

.resourcepack p {
  margin-left: 20px;
}